header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #840000;
    color: #f2f2f2;
  }
  h1 {
    margin: 0;
  }
  .search-bar input[type="text"] {
    border: none;
    border-radius: 4px 0 0 4px;
    padding: 8px;
    font-size: 16px;
  }
  .search-bar button {
    border: none;
    border-radius: 0 4px 4px 0;
    padding: 8px 16px;
    background-color: #64BF3D;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }


header .profile-icon {
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
}
h2{
    text-align: center;
    color: #fff;
}
  
  table {
    border-collapse: collapse;
    width: 100%;
    color: #fff;
  }
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: #64bf3d9c;
  }
  th {
    background-color: #DF5800;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  caption {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  button:hover{
    background-color: #DF5800;
  }