* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #840000;
    color: white;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

.search-bar input[type="text"] {
    border: none;
    border-radius: 4px 0 0 4px;
    padding: 8px;
    font-size: 16px;
  }
.search-bar button {
    border: none;
    border-radius: 0 4px 4px 0;
    padding: 8px 16px;
    background-color: #64BF3D;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

header .profile-icon {
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
}

.subtitle {
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    text-align: center;
    color: #fff;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.product-card {
    background-color: #64bf3da8;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
}

.product-card img {
    max-width: 100%;
    max-height: 200px;
    object-fit: contain;
}

.product-card h2 {
    margin: 10px 0;
    font-size: 18px;
}

.product-card p {
    margin: 5px 0;
    font-size: 16px;
}

.product-card .quantity {
    margin-bottom: 20px;
}

.product-card .edit-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f2f2f27a;
    padding: 5px;
    border-radius: 25%;
    cursor: pointer;
    display: inline-block;
}

.product-card .delete-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #f2f2f27a;
    padding: 5px;
    border-radius: 25%;
    cursor: pointer;
    display: inline-block;
}
.buttons {
    display: flex;
    justify-content:center;
    align-items: center;
}
      
.buttons button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #840000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}
button:hover{
    background-color: #DF5800;
}    
