body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #840000;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    
    
}
h1 {
    margin: 0;
    font-size: 36px;
}
.search-bar input[type="text"] {
    border: none;
    border-radius: 4px 0 0 4px;
    padding: 8px;
    font-size: 16px;

  }
  .search-bar button {
    border: none;
    border-radius: 0 4px 4px 0;
    padding: 8px 16px;
    background-color: #64BF3D;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
#perfil {
    display: inline-block;
    align-items: center;
}
#perfil img {
    width: 30px;
    height: 30px;
}
#bem-vindo{
    font-size: 5px;
    background-color: transparent;
    color: #fff;
    text-align: center;
    font-size: 20px;
}
#selecione {
    font-size: 40px;
    font-weight: bold;
    padding: 16px;
    background-color: transparent;
    color: #fff;
    text-align: center;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
}

#botoes-opcao {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 400px;
    height: 200px;
    
}
button {
    background-color: #29521E;
    color: #FFF;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
    

}
button:hover {
    background-color: #DF5800;
}